.topbar-container {
  position: fixed;
  width: 100%;
  height: var(--topbar-height);
  background: var(--topbar-bg-color);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);
}

.topbar-container .page-title {
  font-size: 1.4em;
  font-weight: 900;
  padding-left: 10px;
  display: inline-block;
  color: #ffffff;
}
