@import "https://fonts.googleapis.com/icon?family=Material+Icons";

:root {
  /* Sidebar variables */
  --sidebar-width: 125px;
  --sidebar-bg-color: #354052;
  --sidebar-dark-color: #2b3444;
  --sidebar-content-color: #c9c9c9;
  /* Topbar variables */
  --topbar-height: 50px;
  --topbar-bg-color: #2555cf;
  --topbar-dark-color: #0b3cb8;
}

body {
  background: #ff0000;
}
